{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <title>Wycieczkomat</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

  <header>
    <h1>Wycieczkomat</h1>
  </header>

  <main>
    <!-- Sekcja dla gotowych planów -->
    <section id="gotowe-plany" class="section-container">
      <h2>Wybierz gotowy plan</h2>
      <div class="form-group">
        <label for="city-select">Wybierz plan:</label>
        <select id="city-select">
          <option value="">-- Wybierz plan --</option>
        </select>
      </div>
      <div id="plan-szczegoly" class="plan-details" style="display: none;"></div>
    </section>

        <!-- Sekcja dla indywidualnego planu -->
        <section id="indywidualny-plan" class="section-container">
          <h2>Stwórz indywidualny plan w PDF</h2>
          <form id="plan-form">
            <div class="form-group">
              <label for="form-city">Wybierz miasto:</label>
              <select id="form-city" name="city" required>
                <option value="">-- Wybierz miasto --</option>
                <!-- Opcje miast będą dynamicznie dodawane przez JavaScript -->
              </select>
            </div>


        <div class="form-group">
          <label for="preferences">Preferencje (rodzaj wycieczki):</label>
          <select id="preferences" name="preferences" required>
            <option value="">-- Wybierz preferencję --</option>
            <option value="Zwiedzanie">Zwiedzanie</option>
            <option value="Rekreacja">Rekreacja</option>
            <option value="Rozrywka">Rozrywka</option>
          </select>
        </div>

        <div class="form-group">
          <label for="start-date">Data rozpoczęcia:</label>
          <input type="date" id="start-date" name="startDate" required>
        </div>

        <div class="form-group">
          <label for="end-date">Data zakończenia:</label>
          <input type="date" id="end-date" name="endDate" required>
        </div>

        <div class="form-group">
          <label for="global-email">E-mail:</label>
          <input type="email" id="global-email" name="email" required placeholder="Podaj e-mail">
        </div>

        <button type="submit" id="generate-individual-plan">Generuj i wyślij PDF</button>
      </form>

      <div id="indywidualny-plan-wynik" class="plan-result"></div>
    </section>
  </main>

  <footer>
    <p>&copy; 2025 Wycieczkomat</p>
  </footer>

  <script src="{% static 'script.js' %}"></script>
</body>
</html>
